{% extends 'layout/base.html' %} {% block pagetitle %}Frequently asked
questions{% endblock %} {% block container %} {% with title="What is Cognitive
Search?",text="Cognitive Search is a cloud search service from Microsoft that
provides built-in AI capabilities to enrich information, helping to find and
explore relevant content at scale." %}{% include 'layout/page-block.html' %}{%
endwith %} {% with title="What value does this add?",text="Using this tool
allows you to retrieve data from PDFs, video, and audio - or use custom machine
learning models. Azure Cognitive Search also offers semantic search capability
to understand user intent and contextually rank the most relevant search
results." %}{% include 'layout/page-block.html' %}{% endwith %} {% endblock %}
Use cognitive skills for vision, language, and speech, or use custom machine
learning models to uncover insights from all types of content.
