<div class="max-w-7xl mx-auto my-8 px-4 sm:px-6">
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        {{ title or "Not known" }}
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ subtitle }}</p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Description</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{ description | short_summary }}
            <ul
              class="border border-gray-200 mt-4 rounded-md divide-y divide-gray-200"
            >
              {% if ".pdfs." not in url %}
              <li
                class="pl-3 pr-4 py-3 flex items-center justify-between text-sm"
              >
                <div class="w-0 flex-1 flex items-center">
                  <!-- Heroicon name: solid/document-text -->
                  <svg
                    class="flex-shrink-0 h-5 w-5 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="ml-2 flex-1 w-0 truncate">
                    Legislation as updated
                  </span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a
                    href="{{ url | replace('.','/') | replace('ukpga/','https://www.legislation.gov.uk/ukpga/') | replace('/data/pdf','') }}"
                    class="font-medium text-indigo-600 hover:text-indigo-500"
                  >
                    Open Website
                  </a>
                </div>
              </li>
              {% endif %}
              <li
                class="pl-3 pr-4 py-3 flex items-center justify-between text-sm"
              >
                <div class="w-0 flex-1 flex items-center">
                  <!-- Heroicon name: solid/document-text -->
                  <svg
                    class="flex-shrink-0 h-5 w-5 text-gray-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="ml-2 flex-1 w-0 truncate">
                    Legislation as enacted
                  </span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a
                    href="{{ url | replace('.','/') | replace('ukpga/','https://www.legislation.gov.uk/ukpga/') | replace('_en/pdf','_en.pdf') }}"
                    class="font-medium text-indigo-600 hover:text-indigo-500"
                  >
                    Open PDF
                  </a>
                </div>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
